@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins";
  background-color: #f7f9fc;
}

.sidebar h4,
.sidebar span,
.sidebar i {
  color: #fafafa;
}
